<button *ngIf="!(auth.user==null)" [disabled]="!(auth.user.role.role === 'Admin')" type="button" class="btn btn-primary"
        data-toggle="modal" data-target="#newUser">
  New User
</button>

<!-- Modal user -->
<div class="modal fade" id="newUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserTitle">Create New User</h5>
        <button (click)="clearForm()" type="reset" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row" [formGroup]="formControl">
            <div class="col-md-12">
              <div>
                <h5 class="text-left">Name:</h5>
              </div>
              <div>
                <input formControlName="name" type="text" name="login" autocomplete="off"
                       class="form-control form-control-lg flat-input names"
                       [(ngModel)]="newUser.name" minlength="2" maxlength="30">
              </div>
            </div>
            <div class="col-md-12">
              <div>
                <h5 class="text-left">Surname:</h5>
              </div>
              <div>
                <input formControlName="surname" type="text" name="surname" autocomplete="off"
                       class="form-control form-control-lg flat-input names"
                       [(ngModel)]="newUser.surname" minlength="2" maxlength="30">
              </div>
            </div>
            <div>
              <h5 class="text-left">Email:</h5>
            </div>
            <div class="col-md-12">
              <input formControlName="email" type="email" name="email" class="form-control form-control-lg flat-input"
                     [(ngModel)]="newUser.email" autocomplete="off" maxlength="40">
            </div>
            <div>
              <h5 class="text-left">Password:</h5>
            </div>
            <div class="col-md-12">
              <input formControlName="password" type="text" name="password" autocomplete="off"
                     placeholder="Letters and numbers only"
                     class="form-control form-control-lg flat-input"
                     [(ngModel)]="newUser.password" minlength="6" maxlength="30">
            </div>
            <div>
              <h5 class="text-left">Role:</h5>
            </div>
            <select formControlName="role" name="select" [(ngModel)]="newUser.role" class="custom-select" id="role"
                    size="4">
              <option *ngFor="let role of roles" [ngValue]="role">{{role.role}}</option>
            </select>
          </div>
        </form>
      </div>

      <div *ngIf="!formControl.valid">
        <hr>
        <p><b>All fields should be filled</b></p>

      </div>
      <div class="modal-footer">
        <button [disabled]="!formControl.valid" class="btn btn-primary" type="submit"
                (click)="ifExistsByEmail(newUser.email)">Save
        </button>
      </div>
      <h4 *ngIf="this.notification" class="text-center wdi-red">Email should be unique!</h4>
    </div>
  </div>
</div>


