.btn-primary{
  border-radius: 0;
  border: 1px solid #DD3247;
  background: #DD3247;
  color: #fff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.custom-select{
  height: 47px;
  width: 465px;
  margin-left: 5px;
}

.my-custom-scrollbar {

}
.table-wrapper-scroll-y {
  /*display: block;*/
  width: 300px;
  position: absolute;
  top: 20px;
  bottom: 100px;
}
