<title>Login</title>
<body>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-auto login-box">
      <h1 class="text-center wdi-red">Login</h1>
      <hr>
      <form>
        <div class="form-row" [formGroup]="formControl">
          <div class="col-md-12">
            <input formControlName="email" type="email"
                   class="form-control form-control-lg flat-input" id="email"
                   placeholder="E-mail" required name="email" [(ngModel)]="user.email" autocomplete="on">
          </div>
          <div class="col-md-12">
            <input formControlName="password" type="password" name="password" id="password"
                   class="form-control form-control-lg flat-input"
                   placeholder="Password"
                   [(ngModel)]="user.password" required>
          </div>

          <h4 *ngIf="auth.authError" class="text-center wdi-red">Wrong email or password! Please try again</h4>

        </div>
        <button [disabled]="!formControl.valid" (click)="onSubmit()" type="button"
                class="btn btn-lg btn-block btn-login">Login
        </button>
      </form>
    </div>
  </div>
</div>
</body>
